<h1>Here are the awesome Quotes!</h1>
<a href="/"><button>Go Back!</button></a>

<% if(quotes){for(i = quotes.length-1; i >= 0; i--){ %>
    <h2><%= quotes[i].quote %></h2>
        <p>-<%= quotes[i].name %> at <%= moment(quotes[i].createdAt).format("h:mma MMMM D YYYY") %></p>
<% }} %>